
assets/images/pb_events/college-program/saveetha_simats_1/WhatsApp Video 2025-08-07 at 1.38.18 PM.mp4
assets/images/pb_events/workshops/kiit_coimbatore-1/Video/PixelBotix.mp4
assets/images/pb_events/workshops/rajalakshmi-1/Video/Pixelbotix Video-REC.mp4
assets/images/pb_events/workshops/rajalakshmi-2/WhatsApp Video 2025-11-13 at 6.15.15 PM.mp4
assets/images/pb_events/workshops/rajalakshmi-2/WhatsApp Video 2025-11-13 at 6.15.17 PM (1).mp4
assets/images/pb_events/workshops/rajalakshmi-2/WhatsApp Video 2025-11-13 at 6.15.17 PM.mp4
assets/images/pb_events/workshops/rajalakshmi-2/WhatsApp Video 2025-11-13 at 6.15.22 PM.mp4
.vscode/settings.json
